<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madlibs</title>
  </head>
  <body>
    <form action="/story">
      <ul>
      <li><label for="noun">Noun:</label></li>
      <input type="text" name="noun" placeholder="noun"/>
      <li><label for="verb">Verb:</label></li>
      <input type="text" name="verb" placeholder="verb"/>
      <li><label for="adjective">Adjective:</label></li>
      <input type="text" name="adjective" placeholder="adjective"/>
      <li><label for="place">Place:</label></li>
      <input type="text" name="place" placeholder="place"/>
      <li><label for="plural_noun">Plural Noun:</label></li>
      <input type="text" name="plural_noun" placeholder="plural noun"/>
      <li><input type="submit" ></li>
    </form>
  </body>
</html>
